<!-- HWCs Form based on info from device -->
<form>
    <div class="mb-0">
        <ul class="list-group fs-5">
            {{range .Items}}
            <div class="card mb-3">
                <div class="card-header mb-0">
                    <h4 class="card-title mb-0">{{.Name}}</h4>
                </div>
                <div class="card-body mb-0 p-0">
                    <div class="d-flex flex-row flex-wrap">
                        {{if (eq .Ready true)}}
                        <div class="p-2" style="width: min(640px, 100%)">
                           <iframe style="width: 100%; height: auto; aspect-ratio: 16/9;" src="{{.StreamUrl}}/?muted=false" scrolling="no" frameborder="0" allowfullscreen></iframe>
                        </div>
                        {{end}}
                        <div class="p-2">
                            {{if (eq .Source.Type "")}}
                            {{else}}
                            <p class="card-text fs-6 mb-0">Source: {{.Source.Type}}</p>
                            {{end}}
                            <p class="card-text fs-6 mb-0">Start Time: {{.ReadyTimeStr}}</p>
                            <p class="card-text fs-6 mb-0">Viewers: {{.TotalReaders}}</p>
                            <p class="card-text fs-6 mb-0">Tracks:</p>
                            {{range .Tracks}}
                            <p class="card-text fs-6 mb-0">  {{.}}</p>
                            {{end}}
                        </div>
                    </div> 
                </div>
                <div class="card-footer mb-0">
                    <div class="flex-row">
                        <a class="p-2" href="{{.StreamUrl}}/?muted=false&autoplay=true">Direct Stream Link</a>
                        <a class="p-2" href="{{.StreamHls}}/?muted=false&autoplay=true">HLS Stream Link</a>
                        <a class="p-2" href="{{.StreamWebRTC}}/?muted=false&autoplay=true">WebRTC Stream Link</a>
                    </div>
                </div>
            </div>
            {{end}}
        </ul>
    </div>
</form>
